<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras /spring-security">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:replace="/nav_fragment :: #my_template_nav"></div>
	<div class="row"><h2>Curve Point List</h2></div>
	<div class="row">
		<a href="/curvePoint/add" class="w-25 btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>CurvePointId</th>
					<th>Term</th>
					<th>Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all CurvePoint to the table, the action column will have Edit & Delete buttons -->
			<tr th:each="cp : ${curvePoints}">
				<td th:text="${cp.id}"></td>
				<td th:text="${cp.curveId}"></td>
				<td th:text="${cp.term}"></td>
				<td th:text="${cp.value}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/curvePoint/update/{id}(id=${cp.id})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/curvePoint/delete/{id}(id=${cp.id})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<footer>
	<div style="text-align:center">
		<a href="/logout"> <img src="/img/logo.png" alt="Poseidon" width="128" height="88"></a>
	</div>
</footer>
</body>
</html>