<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<div class="mb-3">
				<label for="account" class="form-label">Account</label>
				<input type="text" class="form-control" id="account" name="account" placeholder="Account">
			</div>
			<div class="mb-3">
				<label for="type" class="form-label">Type</label>
				<input type="text" class="form-control" id="type" name="type" placeholder="Type">
			</div>
			<div class="mb-3">
				<label for="bidQuantity" class="form-label">Bid quantity</label>
				<input type="text" class="form-control" id="bidQuantity" name="bidQuantity" placeholder="Bid quantity">
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/bidList/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add bidList">
				</div>
			</div>
		</form>
	</div>

</div>
<footer>
	<div style="text-align:center">
		<a href="/logout"> <img src="/img/logo.png" alt="Poseidon" width="128" height="88"></a>
	</div>
</footer>
</body>
</html>