<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Poseidon application</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}" /> -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
</head>
<body class="text-center">
<div class="container">
<main class="form-signin w-80 m-auto">
    <form name='f' th:action="@{/login}" th:object="${user}" method='POST'>
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        <h2 class="error" style=text-align:center th:text="${errorMsg}"></h2>
        <div th:if="${param.error}" class="alert alert-error alert-danger">
            Invalid credentials
            <h2 style=text-align:center th:text="${param.error}"></h2>
        </div>
        <div th:if="${param.logout}" class="alert alert-info">
            You have been logged out.
        </div>
        <div class="mt-5 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div class="mt-5 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" name="password">
            <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <p class="error-message" th:text="${message}"></p>
                </li>
            </ul>
        </div>
        <button class="w-50 btn btn-md btn-primary" type="submit">Log in</button>
    </form>

    <div class="col-6 w-80 m-auto p-5">
        <a class="text-dark w-50 btn btn-primary" th:href="@{/oauth2/authorization/github}">Log in with Github</a>
    </div>
</main>
</div>

<footer>
    <div style="text-align:center">
        <p class="mt-5 mb-3 text-muted">Trading Application © 2022</p>
        <a href="/logout"> <img src="/img/logo.png" alt="Poseidon" width="128" height="88"></a>
    </div>
</footer>
</body>
</html>